/** HEADER **/
#header-nav {
  background-color: gray;
  padding: 15px;
  border-radius: 0;
  border: 10px;
  border-color: black;
  margin-bottom: 0px;

}

 .navbar-brand {
  margin-left: 5px;
  border-color: black;
  text-align: top;
 }


.navbar-brand h1{ /*Restaurant Name  FOOD LLC*/
  font-family: Lora, serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: left;

}
 
.navbar-header {
  clear: both;
  margin-top: -40px;
} 


.container .jumbotron {
	padding:0; 
	padding-top:0px;
	margin-bottom: 0px;
}

.menu-items {
	background-color: gray
}

.menu-items h2 {
	font-size: 1.5em;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	color: black;
}

.menu-items p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: : 10px;
	padding-bottom: 10px;
	color: black;
	}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;

}

#nav-list {
	padding:0;
	margin:0;
	list-style-type: none;
	display: block;
	width: 100%;
	border-color: black;
	border: 1px;

}

#nav-list li {
	list-style-type: none;
	display: block;
	width: 100%;
	border-color: black;
	border: 1px;
	font-weight: bold;
	color: black;
	font-size: 18px;

}

}
#nav-list a:hover {
  background: #E7E7E7;
}

.dropdown {
	border: 1px solid black;
	background-color: gray;
	text-align: center;
	margin-bottom:5px;
	margin-top:5px;
	width:400px;
	padding: 0;