/** HEADER **/
#header-nav {
  background-color: gray;
  padding: 15px;
  border-radius: 0;
  border: 10px;
  border-color: black;
  margin-bottom: 0px;

}

 .navbar-brand {
  margin-left: 5px;
  border-color: black;
  text-align: top;
 }


.navbar-brand h1{ /*Restaurant Name  FOOD LLC*/
  font-family: Lora, serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: left;

}
 
.navbar-header {
  clear: both;
  margin-top: -30px;
} 


.container .jumbotron {
	padding:0; 
	padding-top:0px;
	margin-bottom: 0px;
}

.menu-items {
	background-color: gray
}

.menu-items h2 {
	font-size: 1.5em;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	color: black;
}

.menu-items p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: : 10px;
	padding-bottom: 10px;
	color: black;
	}

